<%= form_with model: content, html: { multipart: true } do |form| %>
  <% if content.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(content.errors.count, "error") %> prohibited this content from being saved:</h2>

      <ul>
      <% content.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">

    <div class="field">
      <label class="grey-text">Carica il contenuto digitale che vuoi vendere(formati supprtati: pdf,powerpoint,word,excel,immagini ed mp3</label><br>
      <%= form.file_field :allegato %>
    </div>
<br>

     <%= form.label :titolo %>
     <%= form.text_field :titolo %>
  </div>

  <div class="field">
    <%= form.label :descrizione %>
    <%= form.text_area :descrizione, class: "materialize-textarea" %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.text_field :price %>
  </div>

  <div class="field">
    <label class="grey-text">Carica un immagine da utilizzare come cover per il tuo contenuto</label><br>
    <%= form.file_field :cover %>
    <br>
  </div>

  <br>

 

  <div class="actions">
    <%= form.submit 'Salva contenuto', class: "btn btn-form" %>
  </div>
  <br>
<% end %>
